<div id="center_left">
  <div class="nueva_noticia">
    <% if logged_in? %>
      <%= erb :_newsForm %> 
    <% end %>
  </div>   
  <div class="noticias">
  <% @news.each do |p| %>
    <div class="id_noticia">
      <h1><%=p.title%></h1>
      <p><%=p.description%></p>
      <div class="btn_vermas"><a href="<%=p.link%>">Ver mas</a></div>
    </div>
  <%end%>
  </div>
</div>
<%= erb :_centerRight %>


